@charset "UTF-8";

/*总体样式*/

body{
    background-color: #FAFAFA;

    font-size: 16px;
}

#jd_layout{
    min-width:300px;
    max-width: 640px;
    margin: 0 auto;
    position: relative;
    /*background-color: #f5f5f5;*/

}
[class^="icon_"],[class*=" icon_"]{
    background: url("../images/sprites.png") ;
    background-size: 200px;
}

/*header样式*/
.jd_header {
    width: 100%;
    height: 40px;
    position: fixed;
    z-index: 999;
}

.jd_header .title {
    min-width:300px;
    max-width: 640px;
    background: transparent;
    height: 100%;
    position: relative;

}
.jd_header form {
    padding:0 60px 0 80px;
    height: 100%;
    position: relative;

}

.jd_header form input {
    width: 100%;
    height: 80%;
    margin-top:4px;
    border-radius:15px;
    text-indent: 30px;

}
.jd_header form .icon_search {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    left: 90px;
    background-position: -60px -109px;
    z-index: 100;
}

.jd_header .title .icon_logo {
    display: block;
    width: 60px;
    height: 30px;
    background-position: 0 -103px;
    position: absolute;
    top: 4px;
    left: 10px;
}

.jd_header .title .reg {
    position: absolute;
    top: 8px;
    right: 4px;
    color:white
}

/*滚动栏*/

.jd_scrollBox {
    position: relative;
    width: 100%;
    overflow: hidden;

}
/*滚动图*/
.jd_scrollBox ul.content{
    width: 1000%;
    transform: translateX(-10%);
    -webkit-transform: translateX(-10%);
}
.jd_scrollBox .content li{
    width: 10%;
    float: left;
}
.jd_scrollBox .content img {
    width: 100%;
    display: block;
}

/*滚动按钮*/
.jd_scrollBox ul.btn {
    width: 140px;
    height: 10px;
    position: absolute;
    bottom: 10%;
    left: 0;
    right: 0;
    margin:0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.jd_scrollBox ul.btn li {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 50%;
    cursor: pointer;
}
.jd_scrollBox ul.btn li.current {
    background-color: #fff;
}

/*用户选项*/

.jd_item {
    width: 100%;
    background-color: white;
    padding: 10px;
}
.jd_item ul {
    background-color: white;

}

.jd_item li {
    display: inline-block;
    width: 20%;
    height: 60px;
    float: left;

    text-align: center;
    margin-bottom: 8px;
}

.jd_item  img {
    width: 40px;
}

.jd_item p{
    font-size: 12px;
}


/**************产品中心**************/
.jd_product {
    padding: 10px;

}


/*秒杀*/
.jd_seckill {
    width: 100%;
    background-color: white;
    border: 1px solid #E0E0E0;
    margin-bottom: 10px;
}
/*秒杀的头部*/
.jd_seckill .title {
    font-size: 14px;
    width: 100%;
    height: 32px;
    display: flex;
    position: relative;

}

.jd_seckill .time {
    margin-left: 4px;
}
.jd_seckill .time .time_num {
    background-color: #000;
    color:white;
    padding:0 2px;
}


.jd_seckill .title .most,.jd_seckill .title span {
    line-height: 32px;
}

.jd_seckill .title .most {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    color:red;
    margin-right: 4px;

}
.jd_seckill .title .most::after {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url("../images/arrow_rt.png") 0/12px;
    position: relative;
    top: 1px;
    margin-left: 4px;
}

.jd_seckill .title img {
    width: 70px;
    height: 28px;
    margin-top: 2px;
}

/*秒杀的下部分*/
.jd_seckill .content {
    margin-bottom: 10px;
}

.jd_seckill ul{
    width: 100%;
}
.jd_seckill ul li a {
    width: 100%;
    display: block;
    border-right:1px solid #ccc;
}
.jd_seckill ul li:nth-last-child(1) a{
    border-right:none;
}

.jd_seckill li {
    text-align: center;
    float: left;
    width: 33.3%;
    display: inline-block;
}

.jd_seckill img {
    width: 80%;
}

.jd_seckill .red {
    color: red;

}
.jd_seckill .grey{
    color: grey;
    text-decoration: line-through;
}

/*乐购*/

.jd_buy {
    width: 100%;
    background-color: #fff;
    border: 1px solid #E5E5E5;
    position: relative;
    margin-bottom: 10px;
}
.jd_buy img{
    display: block;
}
.jd_buy .title {
    width: 100%;
    height: 32px;
    border-bottom: 1px solid #E5E5E5;
}
.jd_buy .title span {
    position: absolute;
    top: 6px;
    left: 10px;
    display: inline-block;
    width: 4px;
    height: 20px;
    background-color: red;
}
.jd_buy .title h3 {
    font-weight:400;
    font-size: 16px;
    line-height: 32px;
    margin-left: 20px;
}

.jd_buy .content {
    width: 100%;
}
.f_l {
    float: left;
}
.f_r {
    float: right;
}
.w_50 {
    width: 50%;
}
.w_100 {
    width:100%;
}
.bd_t {
    border-top: 1px solid #E5E5E5;
}
.bd_l {
    border-left: 1px solid #E5E5E5;
}

/*推荐*/

.jd_recomment {
    width: 100%;
    margin-bottom: 80px;

}
.jd_recomment .title {
    width: 99%;
    margin:0 auto;
    height: 32px;
    position: relative;
    border-top: 1px solid #e5e5e5;
}
.jd_recomment .title  span {
    width: 80px;
    height: 32px;
    margin:0 auto;
    font-size: 12px;
    display: block;
    text-align: center;
    background-color: #FAFAFA;
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
}
.jd_recomment .content {
    margin-bottom: 10px;
}
.jd_recomment .content ul li {
    position: relative;
    display: inline-block;
    width: 48%;
    margin:1%;
    padding: 10px;
    float: left;
    text-align: center;
    background: #fff;
    font-size: 14px;
}
.jd_recomment .content li img {
    width:100%;
}
.jd_recomment .content li p {
    text-align: left;
}
.jd_recomment .content li span {
    font-size: 12px;
    color:red;
    margin-top: 4px;
}
.jd_recomment .content li span>span {
    font-weight: 700;
}
.jd_recomment .content ul li .like {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 2px;
    color:#aaa;
    font-size: 12px;
    border: 1px solid #e5e5e5;

}

/*尾部*/
.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin:0 auto;
    background-color:white;
    border-top: 1px solid #e5e5e5;
}

.footer .box ul {
    text-align: center;
}
.footer .box li {

    width: 20%;
    float: left;
}
.footer .box img {
    width: 70px;
}